.formlogin {
    padding-top: 90px;
    padding-bottom: 0px;
    margin:0px;
}

.cabecalho .navbar-brand {
	background-image: url("../img/logotipo.png");
	cursor: pointer;
	height: 41px;
	margin: 0;
	width: 100px;
	background-size: 100% auto;
}
.cabecalho nav{
	background-color: transparent;
	border: none ;
	margin: 0;
}
.cabecalho {
	position: absolute;
	width: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.7);
}
.cabecalho ul li a {
	color: #fff !important;
}
.cabecalho ul li a:hover {
	background-color: #3F9EC8 !important;
}

.login .ajuda .btn{
	width: 49%;
	float: left
}
.banner img{
	width: 100%
}
.rodape{
	background-color: #333;
	color: #fff;
	padding: 10px;
}
.destaque{
	padding-top: 15px;
}


@media (min-width: 768px) {
}
@media (min-width: 768px) and (max-width: 992px) {
	.container{
		width:auto !important
	}
}
@media (min-width: 800px) and (max-width: 1280px) {

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

	.container{
		width:auto !important
	}
}
@media (min-width: 1025px) and (max-width: 1200px){
}
@media (max-width: 767px) {
	.rodape .copyright > div{
		text-align: center !important
	}
}